@{
    ViewData["Title"] = "Home Page";
}

<div class="container"><br /><br /><br />
    <h3>If you want to go Articles Section, Click blow button</h3><br /><br /><br />
    <a class="btn btn-dark text-white" asp-area="" asp-controller="Articles" asp-action="Index">Articles Details</a>
</div>
